{% extends 'base.html.twig' %}

{% block title %}{{ 'user.commande'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8">
            <h1>{{ 'user.commande'|trans }}</h1>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <a href="{{ path('user_edit') }}" class="btn btn-warning text-white">
                    {{ 'back.profile' }}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>{{ 'cart.content'|trans({
                    '%id%': panier.id
                }) }}
            </p>

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>{{ 'product.id'|trans }}</th>
                        <th>{{ 'product.name'|trans }}</th>
                        <th>{{ 'product.quantity'|trans }}</th>
                        <th>{{ 'product.price'|trans }}</th>
                        <th>{{ 'product.subtotal'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in panier.contenuPaniers %}
                        <tr>
                            <td>{{ p.produit.id }}</td>
                            <td>{{ p.produit.nom }}</td>
                            <td>{{ p.quantite }}</td>
                            <td>{{ p.produit.prix }} €</td>
                            <td>{{ p.produit.prix * p.quantite|number_format(2, '.', ' ') }} €</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-center">
                            {{ 'total'|trans }} : {{ panier.amount }} €
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
