{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.home'|trans }}{% endblock %}

{% block body %}
    {# Actions administrateur #}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-12 d-flex gap-2 justify-content-end">
                <a href="{{ path('produit_new') }}" class="btn btn-sm btn-warning text-white">
                    {{ 'product.new'|trans }}
                </a>
            </div>
        </div>
    {% endif %}

    <div class="row mt-3">
        <div class="col-12">
            <div class="row">
                {# Affichage de la liste des produits #}
                {% for p in products %}
                    <div class="col">
                        <div class="card shadow rounded p-2">
                            <img src="{{ p.photo }}" class="card-img-top" alt="{{ p.nom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ p.nom }}</h5>
                                <p class="card-text">{{ p.description }}</p>
                                <a href="{{ path('produit_show', {'id': p.id}) }}" class="btn btn-sm btn-primary shadow w-100">{{ 'product.show'|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">{{ 'product.no_records'|trans }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
