{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <img src="{{ asset('images/produit/' ~ produit.photo) }}" alt="{{ produit.nom }}" class="img-fluid">
        </div>
        <div class="col">
            <div class="row">
                <div class="col-8">
                    <h1>{{ produit.nom }}</h1>

                    <span class="text-muted">{{ produit.prix|number_format(2, '.', ' ') }} €</span>
                    {% if produit.stock > 0 %}
                        <span> - {{ 'quantity_short'|trans }} : {{ produit.stock }} {{ 'produit.stock' }}</span>
                    {% else %}
                        <span class="text-danger"> - {{ 'quantity_empty'|trans }}</span>
                    {% endif %}

                    <p class="mt-2">{{ produit.description }}</p>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') and produit.stock > 0 %}
                        {{ include('contenu_panier/_form.html.twig') }}
                    {% endif %}
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col d-flex gap-2 justify-content-end">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-primary">{{ 'produit.edit'|trans }}</a>
                                {{ include('produit/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
