{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>
    &nbsp;
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-12 d-flex gap-2 justify-content-end">
            <button type="button" class="btn btn-primary" {{ include('produit/_delete_form.html.twig') }}></button>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-12 d-flex gap-2 justify-content-end">
                <button type="button" class="btn btn-primary"> <a href="{{ path('produit_edit', {'id': produit.id}) }}">Editer</a></button>
            </div>
        </div>
    {% endif %}
    <div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{ produit.nom }} <span class="text-muted">| {{ produit.prix }}€</span></h2>
        <p class="lead">{{ produit.description }}</p>
        <div class="">
            <button href="" type="button" class="btn btn-primary">Ajouter au panier</button>
        </div>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{{ produit.photo }}" data-holder-rendered="true">
    </div>
</div>
    &nbsp;
<div>
    <button type="button" class="btn btn-primary" href="{{ path('produit_index') }}">Retour arriére</button>
</div>

{% endblock %}
